<tr>
  <td>
    <p>Hello,</p>
    <p>This is a test email.</p>
    <p>Foo variable equals: {{foo}}</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td><a href="/" target="_blank">I'm a link</a></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Kind regards,<br />Blitz.js</p>
  </td>
</tr>
