# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @flybayer

packages/cli/**/* @aem
packages/generator/**/* @aem
packages/generator/templates**/* @flybayer
packages/installer/**/* @aem
