:root {
  --border-radius: 0.75rem;
  --screen-width: 90vmin;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}
