:root {
  --docs-accent-color: #9580ff;
  --docs-accent-color-opacity: #9580ff60;
  --docs-accent-color-link: #9580ff;
  --docs-light-bg: #e5e5e560;
  --docs-light-bg-hover: #d0d0d060;
  --docs-dark-bg: #2a2a2a90;
  --docs-dark-bg-hover: #2a2a2a60;
  --nextra-navbar-height: 8rem;
}

html[class~="dark"] {
  --nextra-primary-hue: 267;
  --nextra-primary-hue-saturation: 100%;
  --nextra-primary-hue-lightness: 75%;

  --docs-secondary-bg: var(--docs-dark-bg);
  --docs-secondary-bg-hover: var(--docs-dark-bg-hover);
}

html[class~="light"] {
  --docs-accent-color: #644be1;
  --docs-dark-bg: #e5e5e560;

  --docs-secondary-bg: var(--docs-light-bg);
  --docs-secondary-bg-hover: var(--docs-light-bg-hover);
}

/* General
    ------------------------ */
html,
body,
kbd {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  -webkit-font-smoothing: "antialiased";
}

html {
  font-size: 17px;
}

.nextra-nav-container nav {
  height: 7rem;
}

aside {
  height: calc(100vh - 7rem);
  top: calc(7rem + 4px) !important;
}

.nextra-nav-container nav {
  box-sizing: border-box;
  padding: 0 2.5rem;
}

.nextra-sidebar-container {
  box-sizing: border-box;
  padding-left: 1rem;
}

.nextra-toc {
  padding-right: 1rem;
}

@media (max-width: 640px) {
  .nextra-nav-container {
    padding: 0;
  }

  .nextra-nav-container nav {
    padding: 0 2rem;
  }

  aside {
    top: 0;
    height: 100%;
  }

  .nextra-sidebar-container {
    padding-top: 0;
  }
}

.nextra-breadcrumb {
  display: none !important;
}

/* General colors
    ------------------------ */

html[class~="dark"] .dark\:nx-text-gray-400,
html[class~="dark"] .nx-text-gray-500 {
  color: #999 !important;
}

html[class~=dark] .folderAsHeader .nextra-sidebar-container ul li a {
    color: #c5c5c5;
    font-size: 1.05rem;
}

html[class~=dark] .dark\:nx-bg-\[linear-gradient\(1deg\,\#383838\,\#212121\)\]{
    background: rgba(14,0,29)
}

html[class~="dark"] .dark\:bg-dark {
  background-color: #0e0e0e;
}

html[class~="light"] body {
  color: #0e0e0e;
}

html[class~="dark"] body {
  color: #c5c5c5;
}

html[class~="dark"] p strong,
html[class~="dark"] h1,
html[class~="dark"] h2,
html[class~="dark"] h3,
html[class~="dark"] h4 {
  color: #fff;
}

/* Link
    ------------------------ */
p a,
p li a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.01em;
  text-decoration-color: var(--docs-accent-color-opacity);
}

p a:hover,
p li a:hover {
  text-decoration-color: var(--docs-accent-color-link);
}

/* Nav
    ------------------------ */

.nextra-nav-container {
  border-top: 4px solid var(--docs-accent-color);
}

.nextra-nav-container .nextra-nav-container-blur {
  border: none;
  box-shadow: none !important;
}

.nx-max-w-\[90rem\] {
  max-width: 164rem !important;
}

/* Search Input
    ------------------------ */
html[class~="dark"] .nextra-search input,
html[class~="dark"] .nextra-search input:focus {
  background-color: #110024;
  border-color: #252525ff;
}

html[class~="dark"] .nextra-search input::placeholder {
  color: #e5e5e560;
}

/* Sidebar
    ------------------------ */
.nextra-sidebar-container-menu {
  border: none;
}

.nextra-sidebar-container > div {
  margin-top: 10px;
  padding-top: 0;
}

.nextra-toc-meta,
.nextra-sidebar-container-menu {
  box-shadow: none !important;
}

.nextra-sidebar-container .nextra-scrollbar + div {
  border-width: 0;
  height: 4rem;
}

.nextra-toc ul li a,
.nextra-sidebar-container ul li.active > a,
.nextra-sidebar-container ul li.active > a:hover {
  font-weight: normal;
}

html[class~="light"] .nextra-sidebar-container ul li a {
  color: #0e0e0e;
}

html[class~="light"] .nextra-sidebar-container ul li a:hover,
html[class~="light"] .nextra-sidebar-container ul li.active > a:hover {
  background-color: var(--docs-light-bg);
}

html[class~="dark"] .nextra-sidebar-container ul li a:hover,
html[class~="dark"] .nextra-sidebar-container ul li.active > a:hover {
  background-color: var(--docs-dark-bg);
}

html[class~="dark"] .folderAsHeader .nextra-sidebar-container ul li a {
  color: rgb(197, 197, 197);
  font-size: 1.05rem;
}

html[class~="dark"] .folderAsHeader .nextra-sidebar-container ul li ul li a {
  color: #999999;
  font-size: 0.875rem;
}

html[class~="dark"] .folderAsHeader .nextra-sidebar-container ul li.active > a,
html[class~="dark"] .nextra-toc ul li a[aria-selected="true"],
html[class~="light"] .folderAsHeader .nextra-sidebar-container ul li.active > a,
html[class~="light"] .nextra-toc ul li a[aria-selected="true"] {
  color: var(--docs-accent-color);
  background-color: transparent;
}

html[class~="dark"] .nextra-sidebar-container ul li.active > a:hover,
html[class~="dark"] .nextra-toc ul li a[aria-selected="true"]:hover {
  color: var(--docs-accent-color);
}

html[class~="dark"] .nx-text-primary-500,
html[class~="dark"] .nx-text-primary-600 {
  color: var(--docs-accent-color);
}

html[class~="light"] .nx-text-primary-500,
html[class~="light"] .nx-text-primary-600 {
  color: var(--docs-accent-color);
}

@media (max-width: 640px) {
  html[class~="dark"] .folderAsHeader .nextra-sidebar-container ul li.active > a {
    color: currentColor;
    text-align: left;
  }

  .folderAsHeader .nextra-sidebar-container ul ul li a {
    justify-content: normal;
  }
}

/*  Remove lines when you apply `.folderAsHeader` the class in the doc 
     */
.folderAsHeader .nextra-sidebar-container ul ul {
  padding-left: 0;
  margin-left: 0;
  margin: 0.3rem 0 1.2rem 0;
}

.folderAsHeader .nextra-sidebar-container ul div {
  padding-left: 0;
}

.folderAsHeader .nextra-sidebar-container ul ul::before {
  content: none;
}

.folderAsHeader .nextra-sidebar-container ul li a {
  font-size: 16px;
}

/* arrow dropdown */
.folderAsHeader .nextra-sidebar-container a svg {
  transition: opacity 100ms;
  opacity: 0;
}

.folderAsHeader .nextra-sidebar-container a:hover svg {
  opacity: 1;
}

svg:hover {
  background: transparent !important;
}

/* Bold only on the header */
.folderAsHeader .nextra-sidebar-container ul > li > a,
.folderAsHeader .nextra-sidebar-container ul > li > a:hover {
  font-weight: 600;
  cursor: default;
  line-height: 1.3;
}

.folderAsHeader .nextra-sidebar-container ul > li li a,
.folderAsHeader .nextra-sidebar-container ul > li li a:hover {
  font-weight: normal;
  cursor: pointer;
}

.folderAsHeader .nextra-sidebar-container ul li ul li a {
  font-size: 14px;
}

.wip {
  position: relative;
  display: flex;
  opacity: 0.5;
}

.wip:after {
  content: "WIP";
  border-radius: 2px;
  padding: 2px;
  font-size: 9px;
  line-height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -35%);
  opacity: 0.6;
}

/* Content
    ------------------------ */

main div.mt-12 {
  display: none;
}

.nextra-breadcrumb {
  pointer-events: none;
  display: none;
}

.nextra-navigation-links {
  margin-top: 6rem;
  padding-bottom: 4rem;
  border: none;
}

html[class~="dark"] article p a,
html[class~="dark"] article li a,
html[class~="dark"] .dark\:hover\:text-primary-500:hover,
html[class~="light"] article p a,
html[class~="light"] article li a,
html[class~="light"] .dark\:hover\:text-primary-500:hover {
  color: var(--docs-accent-color-link) !important;
}

/* Keyboard Shortcut
    ------------------------ */
p kbd {
  border-radius: 4px;
  font-size: 13px;
  padding: 6px;
  padding-bottom: 7px;
  line-height: 14px;
  font-weight: bold;
}

html[class~="light"] p kbd {
  color: rgb(75, 85, 99);
  background: rgb(75 85 99 / 12%);
  box-shadow: rgb(75 85 99 / 24%) 0px -2px 0px inset;
}

html[class~="dark"] p kbd {
  background: rgb(42 42 42);
  box-shadow: rgb(255 255 255 / 12%) 0px -2px 0px inset;
  color: #c5c5c5;
}

/* Inline Code Snippet
    ------------------------ */

html[class~="light"] p code {
  background-color: var(--docs-light-bg);
  border: solid 1px #e5e7eb;
}

html[class~="dark"] p code {
  background-color: var(--docs-dark-bg);
  border: solid 1px #373737;
  color: #c5c5c5;
}

/* Callout
    ------------------------ */

.nextra-callout {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.nextra-callout .pr-2 {
  padding-right: 1rem;
}

html[class~="light"] .nextra-callout {
  color: rgb(65 65 65 / 90%);
  background-color: var(--docs-light-bg);
  border: none !important;
}
html[class~="dark"] .nextra-callout {
  border: none !important;
  background: var(--docs-dark-bg) !important;
  color: #999999 !important;
}

html[class~="dark"] .nextra-callout h4 {
  color: #fff;
}

html[class~="light"] .nextra-callout h4 {
  color: #000;
}

/* CTA Container
    ------------------------ */
.ctaContainer {
  display: flex;
  gap: 1.3rem;
  margin: 2rem 0;
}

@media (max-width: 920px) {
  .ctaContainer {
    flex-direction: column;
  }
}

/* Headings
    ------------------------ */

.cbs article h1 {
  font-size: 3.5rem;
  margin-top: 0;
  line-height: 100%;
  letter-spacing: -0.05em;
  font-weight: bold;
}

@media (max-width: 640px) {
  .cbs article h1 {
    font-size: 3rem;
  }
}

.cbs article h2 {
  border: none;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  font-weight: bold;
}

.cbs article h2 .nx-absolute,
.cbs article h3 .nx-absolute {
  margin-top: -7rem;
}

.cbs article h1:first-of-type {
  margin-top: -0.16em;
}

.cbs article h2 {
  margin-top: 2em;
}

.cbs article h2 + p:not(:first-child),
.cbs article h3 + p:not(:first-child) {
  margin-top: 0.6rem;
}

.cbs article h3 {
  margin-top: 1.5em;
}

.cbs article img {
  border-radius: 4px;
}

.cbs article .subheading-anchor {
  margin-top: -110px;
}

/* Code Snippet
    ------------------------ */

html[class~="light"] article pre {
  background-color: var(--docs-light-bg);
  border: solid 1px #e5e7eb;
}

html[class~="dark"] article pre {
  background-color: var(--docs-dark-bg);
  border: solid 1px #2a2a2a;
}

.blitz-logo {
  display: inline;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: auto;
  height: 3rem;
  fill: currentColor;
}

html[class~=dark] body {
    background-color: rgba(14,0,29,var(--tw-bg-opacity))
}

html[class~=dark] .dark\:nx-bg-dark{
    background-color: rgba(14,0,29,var(--tw-bg-opacity)) !important;
}

/*  Start of Shiki Twoslash CSS:

Code blocks structurally look like: 

<pre class='shiki lsp twoslash [theme-name]'>
  <div class='language-id'>[lang-id]</div>
    <div class='code-container'>
      <code>[the code as a series of spans]</code>
      <a href='playground...'>Try</a> (optional)
    </div>
  </pre> 
*/

pre {
	/* In theory shiki will overwrite these, but this is to make sure there are defaults regardless */
	 background-color: white;
	 color: black;

	/* Give it some space to breathe */
	 padding: 12px;

	/* All code samples get a grey border, twoslash ones get a different color */
	 border-left: 1px solid #999;
	 border-bottom: 1px solid #999;

	 margin-bottom: 3rem;

    /* Important to allow the code to move horizontally; */
    overflow-x: auto;
    position: relative;
}
 pre.shiki {
    overflow-x: auto;
}
 pre.shiki:hover .dim {
	 opacity: 1;
}
 pre.shiki div.dim {
	 opacity: 0.5;
}
 pre.shiki div.dim, pre.shiki div.highlight {
	 margin: 0;
	 padding: 0;
}
 pre.shiki div.highlight {
	 opacity: 1;
	 background-color: #f1f8ff;
}
 pre.shiki div.line {
	 min-height: 1rem;
}

/** Don't show the language identifiers */
pre.shiki .language-id{
    display: none;
}

/* Visually differentiates twoslash code samples  */
 pre.twoslash {
	 border-color: #719af4;
}

/** When you mouse over the pre, show the underlines */
pre.twoslash:hover data-lsp {
    border-color: #747474;
}

/** The tooltip-like which provides the LSP response */
pre.twoslash data-lsp:hover::before {
    content: attr(lsp);
    position: absolute;
    transform: translate(0, 1rem);

    background-color: #3f3f3f;
    color: #fff;
    text-align: left;
    padding: 5px 8px;
    border-radius: 2px;
    font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    z-index: 100;
}

pre .code-container {
	 overflow: auto;
}
/* The try button */
 pre .code-container > a {
	 position: absolute;
	 right: 8px;
	 bottom: 8px;
	 border-radius: 4px;
	 border: 1px solid #719af4;
	 padding: 0 8px;
	 color: #719af4;
	 text-decoration: none;
	 opacity: 0;
	 transition-timing-function: ease;
	 transition: opacity 0.3s;
}
/* Respect no animations */
@media (prefers-reduced-motion: reduce) {
	 pre .code-container > a {
		 transition: none;
	}
}
 pre .code-container > a:hover {
	 color: white;
	 background-color: #719af4;
}
 pre .code-container:hover a {
	 opacity: 1;
}

 pre code {
	 font-size: 15px;
	 font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;;
	 white-space: pre;
	 -webkit-overflow-scrolling: touch;
}
 pre code a {
	 text-decoration: none;
}
 pre data-err {
    /* Extracted from VS Code */
	 background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
	 padding-bottom: 3px;
}
 pre .query {
	 margin-bottom: 10px;
	 color: #137998;
	 display: inline-block;
}

  /* In order to have the 'popped out' style design and to not break the layout
  /* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
  /* behind the actual error message.

  /* This sections keeps both of those two in in sync  */

 pre .error, pre .error-behind {
	 margin-left: -14px;
	 margin-top: 8px;
	 margin-bottom: 4px;
	 padding: 6px;
	 padding-left: 14px;
	 width: calc(100% - 20px);
	 white-space: pre-wrap;
	 display: block;
}
 pre .error {
	 position: absolute;
	 background-color: #fee;
	 border-left: 2px solid #bf1818;
	/* Give the space to the error code */
	 display: flex;
	 align-items: center;
	 color: black;
}
 pre .error .code {
	 display: none;
}
 pre .error-behind {
	 user-select: none;
	 visibility: transparent;
	 color: #fee;
}
/* Queries */
 pre .arrow {
	/* Transparent background */
	 background-color: #eee;
	 position: relative;
	 top: -7px;
	 margin-left: 0.1rem;
	/* Edges */
	 border-left: 1px solid #eee;
	 border-top: 1px solid #eee;
	 transform: translateY(25%) rotate(45deg);
	/* Size */
	 height: 8px;
	 width: 8px;
}
 pre .popover {
	 margin-bottom: 10px;
	 background-color: #eee;
	 display: inline-block;
	 padding: 0 0.5rem 0.3rem;
	 margin-top: 10px;
	 border-radius: 3px;
}
/* Completion */
 pre .inline-completions ul.dropdown {
	 display: inline-block;
	 position: absolute;
	 width: 240px;
	 background-color: gainsboro;
	 color: grey;
	 padding-top: 4px;
	 font-family: var(--code-font);
	 font-size: 0.8rem;
	 margin: 0;
	 padding: 0;
	 border-left: 4px solid #4b9edd;
}
 pre .inline-completions ul.dropdown::before {
	 background-color: #4b9edd;
	 width: 2px;
	 position: absolute;
	 top: -1.2rem;
	 left: -3px;
	 content: " ";
}
 pre .inline-completions ul.dropdown li {
	 overflow-x: hidden;
	 padding-left: 4px;
	 margin-bottom: 4px;
}
 pre .inline-completions ul.dropdown li.deprecated {
	 text-decoration: line-through;
}
 pre .inline-completions ul.dropdown li span.result-found {
	 color: #4b9edd;
}
 pre .inline-completions ul.dropdown li span.result {
	 width: 100px;
	 color: black;
	 display: inline-block;
}
 .dark-theme .markdown pre {
	 background-color: #d8d8d8;
	 border-color: #ddd;
	 filter: invert(98%) hue-rotate(180deg);
}
 data-lsp {
	/* Ensures there's no 1px jump when the hover happens */
	 border-bottom: 1px dotted transparent;
	/* Fades in unobtrusively */
	 transition-timing-function: ease;
	 transition: border-color 0.3s;
}
/* Respect people's wishes to not have animations */
 @media (prefers-reduced-motion: reduce) {
	 data-lsp {
		 transition: none;
	}
}

/** Annotations support, providing a tool for meta commentary */
.tag-container {
	position: relative;
}
.tag-container .twoslash-annotation {
	position: absolute;
	font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
	right: -10px;
   /** Default annotation text to 200px */
	width: 200px;
	color: #187abf;
	background-color: #fcf3d9 bb;
}
.tag-container .twoslash-annotation p {
	text-align: left;
	font-size: 0.8rem;
	line-height: 0.9rem;
}
.tag-container .twoslash-annotation svg {
	float: left;
	margin-left: -44px;
}
.tag-container .twoslash-annotation.left {
	right: auto;
	left: -200px;
}
.tag-container .twoslash-annotation.left svg {
	float: right;
	margin-right: -5px;
}

/** Support for showing console log/warn/errors inline */
pre .logger {
	display: flex;
	align-items: center;
	color: black;
	padding: 6px;
	padding-left: 8px;
	width: calc(100% - 19px);
	white-space: pre-wrap;
}
pre .logger svg {
	margin-right: 9px;
}
pre .logger.error-log {
	background-color: #fee;
	border-left: 2px solid #bf1818;
}
pre .logger.warn-log {
	background-color: #ffe;
	border-left: 2px solid #eae662;
}
pre .logger.log-log {
	background-color: #e9e9e9;
	border-left: 2px solid #ababab;
}
pre .logger.log-log svg {
	margin-left: 6px;
	margin-right: 9px;
}