name: Changeset

on: 
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changeset:
    if: ${{ github.event.label.name != 'no-changeset' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Check if changeset is added
        run: |
          git branch -v -a
          git fetch origin ${GITHUB_HEAD_REF}
          git fetch origin ${GITHUB_BASE_REF}
          git checkout ${GITHUB_HEAD_REF}
          npx @changesets/cli@2.12.0 status --since=origin/${GITHUB_BASE_REF}
          git checkout ${GITHUB_SHA}
          
