name: Continuous Integration

on:
  push:
    branches:
      - master
      - canary
  pull_request:
    branches:
      - master
      - canary

jobs:
  check_install_time:
    name: Check install time
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.16.1"
      - name: Test Install time
        run: |
          cd ../ && mkdir test && cd test
          yarn add file:../blitz/packages/blitz --non-interactive | tee out.txt
          cat out.txt | ../blitz/.github/checkInstallTime.js
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.16.1"
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --silent
        env:
          CI: true
      - name: yarn lint
        run: yarn lint
        env:
          CI: true
  build_and_test_pkgs:
    name: Build & Test Packages
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.16.1"
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --silent
        env:
          CI: true
      - name: Setup kernel to increase watchers
        if: matrix.os == 'ubuntu-latest'
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Cache built packages
        id: pkgcache
        uses: actions/cache@v2
        with:
          path: |
            packages/**/dist
            packages/**/lib
            packages/**/bin
          key: ${{ runner.os }}-${{ hashFiles('**/packages/**') }}
      - name: Build packages
        if: steps.pkgcache.outputs.cache-hit != 'true'
        run: yarn build
        env:
          CI: true
      - name: Test Blitz Packages
        run: yarn testonly:packages
        env:
          CI: true
  build_and_test_examples:
    name: Build & Test Examples
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.16.1"
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --silent
        env:
          CI: true
      - name: Setup kernel to increase watchers
        if: matrix.os == 'ubuntu-latest'
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Cache built packages
        id: pkgcache
        uses: actions/cache@v2
        with:
          path: |
            packages/**/dist
            packages/**/lib
            packages/**/bin
          key: ${{ runner.os }}-${{ hashFiles('**/packages/**') }}
      - name: Build packages
        if: steps.pkgcache.outputs.cache-hit != 'true'
        run: yarn build
        env:
          CI: true
      - name: Test examples
        run: yarn testonly:examples
        env:
          CI: true
