name: CI

on:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@646cdf48217256a3d0b80361c5a50727664284f2
        with:
          version: 7.11.0
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install  --frozen-lockfile
      - run: pnpm manypkg check
      - name: Build
        run: pnpm build
      - name: Lint
        run: pnpm lint

  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@646cdf48217256a3d0b80361c5a50727664284f2
        with:
          version: 7.11.0
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm build
      - name: Build Apps
        run: pnpm build:apps

  Unit-Tests:
    name: "Unit Test: ${{ matrix.os }} (node@16)"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    env:
      NODE_VERSION: 16
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PNPM
        uses: pnpm/action-setup@646cdf48217256a3d0b80361c5a50727664284f2
        with:
          version: 7.11.0

      - name: Setup node@16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        shell: bash

      - name: Build
        run: pnpm build
        shell: bash

      - name: Test Packages
        run: pnpm test -- --filter=./packages/*
        shell: bash

      - name: Test Apps
        run: pnpm test -- --filter=./apps/*
        shell: bash

  find-integration-tests:
    name: "Find Integration Tests"
    runs-on: ubuntu-latest
    outputs:
      folders: ${{ steps.set-matrix.outputs.folders }}
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        name: "Find all folders"
        shell: bash
        run: |
          cd ./integration-tests
          tree -J -d -L 1 | jq -c  '.[0].contents | map(.name | tostring) | map(select(. != "utils"))'
          folders=$(tree -J -d -L 1 | jq -c  '.[0].contents | map(.name | tostring) | map(select(. != "utils"))')
          echo "folders=$folders" >> $GITHUB_OUTPUT

  Integration-Tests:
    name: "Integration Test: ${{matrix.folder}} @ ${{ matrix.os }} "
    needs: [find-integration-tests]
    strategy:
      matrix:
        folder: ${{fromJSON(needs.find-integration-tests.outputs.folders)}}
        os:
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - run: echo ${{matrix.folder}}
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PNPM
        uses: pnpm/action-setup@646cdf48217256a3d0b80361c5a50727664284f2
        with:
          version: 7.11.0

      - name: Setup node@${{ matrix.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env: 
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        shell: bash

      - name: Install playwright
        run: |
            cd integration-tests/${{matrix.folder}}
            PLAYWRIGHT_BROWSERS_PATH=$HOME/pw-browsers pnpm add playwright-chromium@1.28.0 playwright-webkit@1.28.0 playwright-firefox@1.28.0
            cd ..
            cd ..
        shell: bash

      - name: Build
        run: pnpm build
        shell: bash

      - name: Test Packages
        run: PLAYWRIGHT_BROWSERS_PATH=$HOME/pw-browsers pnpm test -- --filter=./integration-tests/${{matrix.folder}}
        shell: bash
